<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3efe99c287df5a1d6f0d02d187e403c1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<header id="header">
    <a id="title" href="<%= url_for() %>" class="logo"><%- config.title %></a>
	<ul id="menu">
		<li class="menu-item">
			<a href="/about" class="menu-item-link" target="_blank">
				<img src="/yzz.png" style="width:22px;height:22px;position: absolute;top:12px;right:92px;"/>
			</a>
		</li>
		<li class="menu-item">
			<a href="https://gitee.com/jiny2020" class="menu-item-link" target="_blank">
				<img src="/gitee.png" style="width:22px;height:22px;position: absolute;top:12px;right:60px;"/>
			</a>
		</li>
		<li class="menu-item">
			<a href="https://github.com/jiny2020" class="menu-item-link" target="_blank" style="text-decoration: none;">
				<i class="fa fa-github fa-2x"></i>
			</a>
		</li>
	</ul>
</header>